<p id="notice"><%= notice %></p>

<h1>Listing Issue Reports</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @issue_reports.each do |issue_report| %>
      <tr>
        <% if issue_report.image.url != '/images/original/missing.png' %>
          <td><%= link_to image_tag(issue_report.image.url(:med)), issue_report.image.url %></td>
        <% end %>
        <td>
          <p><%= Issue.find(issue_report.issue_id).name %></p>
          <p><%= issue_report.address %></p>
          <p><%= issue_report.description %></p>
        </td>
        <td><%= link_to 'Show', issue_report %></td>
        <td><%= link_to 'Edit', edit_issue_report_path(issue_report) %></td>
        <td><%= link_to 'Destroy', issue_report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
