<% if @issue_report.image.url != '/images/original/missing.png' %>
  <td><%= link_to image_tag(@issue_report.image.url(:med)), @issue_report.image.url %></td>
<% end %>
<td>Reported by: <%= @issue_report.user.login %></td>
<td>
  <b>
    <p>
      <% if @issue_report.issue_id != nil %>
        <%= Issue.find(@issue_report.issue_id).name %>
      <% else %>
        Other
      <% end %>
    </p>
    <p>
      <%= @issue_report.address %>
    </p>
  </b>
  <p>
    <%= @issue_report.description %>
  </p>
</td>

<%= link_to 'Edit', edit_issue_report_path(@issue_report) %> |
<%= link_to 'Back', issue_reports_path %>

<h2>Resolutions</h2>
<% if current_user.admin != nil %>
  <%= link_to 'New Resolution', new_issue_report_resolution_report_path(@issue_report) %>
<% end %>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @issue_report.resolution_reports.each do |resolution_report| %>
    <tr>
      <% if resolution_report.image.url != '/images/original/missing.png' %>
        <td>
          <%= link_to image_tag(resolution_report.image.url(:med)), resolution_report.image.url %>
        </td>
      <% end %>
      <td>
        <%= resolution_report.user.login %>
      </td>
    </tr>
    <tr>
      <td>
        <%= resolution_report.description %>
      </td>
      <% if current_user.admin != nil %>
        <td>
          <%= link_to 'Destroy', [@issue_report, resolution_report], method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
